@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+NZ+Guides&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Nunito", sans-serif;
    
    --font-display: "Playwrite NZ Guides", cursive;

    --font-cursive: "Caveat", cursive;
}

/* Minimalist Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #d4d4d8; /* zinc-300 equivalent */
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a1a1aa; /* zinc-400 equivalent */
}

/* Firefox support */
* {
    scrollbar-width: thin;
    scrollbar-color: #d4d4d8 transparent;
}